main {
    background: 
radial-gradient(circle closest-side at 60% 43%, #323232 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #323232 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #991B1B 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #991B1B 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #991B1B 30%, rgba(221,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #323232 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #323232 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #B91C1C 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #B91C1C 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #B91C1C 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:#323232;
    background-size:100px 100px;
    font-family: 'Lato', sans-serif;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

.heartbeat {
  animation: heartbeat 2s infinite;
}